{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h1>Forgot Password</h1>

        <p>
            Enter your email address to receive
            a password reset link
        </p>

        <form method="POST">

            {{ form.hidden_tag() }}

            {{ form.email(
                class='form-control',
                placeholder='Enter Email Address'
            ) }}

            {{ form.submit(
                class='btn auth-btn',
                value='Send Reset Link'
            ) }}

        </form>

        <div class="auth-links">

            <a href="{{ url_for('auth.login') }}">

                Back to Login

            </a>

        </div>

    </div>

</div>

{% endblock %}