{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h1>Reset Password</h1>

        <p>
            Create a strong new password
            for your account
        </p>

        <form method="POST">

            {{ form.hidden_tag() }}

            <!-- NEW PASSWORD -->

            {{ form.password(
                class='form-control',
                placeholder='Enter New Password'
            ) }}

            <!-- CONFIRM PASSWORD -->

            {{ form.confirm_password(
                class='form-control',
                placeholder='Confirm New Password'
            ) }}

            <!-- SUBMIT BUTTON -->

            {{ form.submit(
                class='btn auth-btn',
                value='Reset Password'
            ) }}

        </form>

        <div class="auth-links">

            <a href="{{ url_for('auth.login') }}">

                Back to Login

            </a>

        </div>

    </div>

</div>

{% endblock %}